<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CERTIFICATE_PATH" value="c:\tmp\cert.pbx"/>
    <add key="CERTIFICATE_PASS" value="1231"/>
    <add key="MERCHANT_IP" value="89.155.125.140"/>
    <add key="MERCHANT_POSID" value="123"/>
    <add key="ASYNC_SERVICE_ENDPOINT" value="https://localhost:44300/MBWayAsyncService.svc"/>
    <add key="APPROVAL_SLEEP" value="15000"/>
  </appSettings>
</configuration>