<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- certificate's SHA1 thumbprint from the Local Computer\Personal\Certificates store -->
    <add key="CERTIFICATE_THUMBPRINT" value="f4eaa0362ccec7a03f76786052037483c50fde36"/>
    
    <!-- optional configuration with using certificate .pfx file -->
    <add key="CERTIFICATE_PATH" value="c:\tmp\cert.pfx"/>
    <add key="CERTIFICATE_PASS" value="1231"/>
    <add key="MERCHANT_IP" value="89.155.125.140"/>
    <add key="MERCHANT_POSID" value="123"/>
    <!-- fully qualified https address to test site's async service -->
    <add key="ASYNC_SERVICE_ENDPOINT" value="https://localhost:44300/MBWayAsyncService.svc"/>
    <!-- time between approval operations that the test will wait for response in app -->
    <add key="TEST_APPROVAL_SLEEP" value="15000"/>
    <!-- test alias to use -->
    <add key="TEST_ALIAS" value="351#911123123"/>
  </appSettings>
</configuration>