<?xml version="1.0"?>

<!--
  For more information on how to configure the MBWay Async Service, please visit
  http://githhub...
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity">
          <reliableSession enabled="true" />
          <security mode="TransportWithMessageCredential" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MBWayAsyncService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"  />
    <services>
      <service name="PMC.MBWay.Net.TestSite.MBWayAsyncService" behaviorConfiguration="MBWayAsyncService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicTransportSecurity"
                  contract="API.FinancialOperations.FinancialOperationAsyncResult"/>

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicTransportSecurity"
                  contract="API.MerchantAlias.CreateMerchantAliasAsyncResult"/>

        <endpoint address="ws"
                  binding="wsHttpBinding"
                  bindingConfiguration="TransportSecurity"
                  contract="API.FinancialOperations.FinancialOperationAsyncResult"/>

        <endpoint address="ws"
                  binding="wsHttpBinding"
                  bindingConfiguration="TransportSecurity"
                  contract="API.MerchantAlias.CreateMerchantAliasAsyncResult"/>

        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
