<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MerchantAliasWSPortBindingCreate" />
                <binding name="MerchantAliasWSPortBindingRemove" />
                <binding name="FinancialOperationAsyncResultPortBinding" />
                <binding name="CreateMerchantAliasAsyncResultPortBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MerchantFinancialOperationWSPortBinding">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:14000/Merchant/requestFinancialOperationWS"
                binding="customBinding" bindingConfiguration="MerchantFinancialOperationWSPortBinding"
                contract="API.FinancialOperations.MerchantFinancialOperationWS"
                name="MerchantFinancialOperationWSPort" />
            <endpoint address="http://vsarctibd1:9082/client/FinancialOperationAsyncResultService"
                binding="basicHttpBinding" bindingConfiguration="FinancialOperationAsyncResultPortBinding"
                contract="API.FinancialOperations.FinancialOperationAsyncResult"
                name="FinancialOperationAsyncResultPort" />
            <endpoint address="http://127.0.0.1:14000/Merchant/createMerchantAliasWS"
                binding="basicHttpBinding" bindingConfiguration="MerchantAliasWSPortBindingCreate"
                contract="API.MerchantAlias.MerchantAliasWSCreate" name="MerchantAliasWSPortCreate" />
            <endpoint address="http://127.0.0.1:14000/Merchant/removeMerchantAliasWS"
                binding="basicHttpBinding" bindingConfiguration="MerchantAliasWSPortBindingRemove"
                contract="API.MerchantAlias.MerchantAliasWSRemove" name="MerchantAliasWSPortRemove" />
            <endpoint address="http://vsarctibd1:9082/client/CreateMerchantAliasAsyncResultService"
                binding="basicHttpBinding" bindingConfiguration="CreateMerchantAliasAsyncResultPortBinding"
                contract="API.MerchantAlias.CreateMerchantAliasAsyncResult"
                name="CreateMerchantAliasAsyncResultPort" />
        </client>
    </system.serviceModel>
</configuration>